<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        
    </style>
</head>
<body>
    <div id="Layout_Administrator" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Inicio", "Contact", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle>" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Consultar usuarios", "Index", "people")</li>
                            <li>@Html.ActionLink("Nuevo usuario", "Create", "people")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle>" data-toggle="dropdown">Consultas<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Especialidad", "Index", "Specialties")</li>
                            <li>@Html.ActionLink("Programa de formación", "Index", "trainingPrograms")</li>
                            <li>@Html.ActionLink("Trimestres", "Index", "trimesters")</li>
                            <li>@Html.ActionLink("Jornadas", "Index", "workingDays")</li>
                            <li>@Html.ActionLink("Ficha", "Index", "data")</li>
                            <li>@Html.ActionLink("Grupos", "Index", "groups")</li>
                            <li>@Html.ActionLink("Sedes", "Index", "Seats")</li>
                            <li>@Html.ActionLink("Ambientes de formación", "Index", "ambients")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle>" data-toggle="dropdown">Registrar datos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Agregar Especialidad", "Create", "Specialties")</li>
                            <li>@Html.ActionLink("Agregar Programa de formación", "Create", "trainingPrograms")</li>
                            <li>@Html.ActionLink("Agregar Trimestres", "Create", "trimesters")</li>
                            <li>@Html.ActionLink("Agregar Jornadas", "Create", "workingDays")</li>
                            <li>@Html.ActionLink("Agregar Ficha", "Create", "data")</li>
                            <li>@Html.ActionLink("Agregar Grupos", "Create", "groups")</li>
                            <li>@Html.ActionLink("Agregar Sedes", "Create", "Seats")</li>
                            <li>@Html.ActionLink("Agregar Ambientes de formación", "Create", "ambients")</li>
                        </ul>
                    </li>

                    <li class="pull-xs-right">@Html.ActionLink("Salir", "Index", "Home")</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
