@model VS02.Models.person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.documentType.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documentType.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genders.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genders.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPerson }) |
    @Html.ActionLink("Back to List", "Index")
</p>
