@model IEnumerable<VS02.Models.data>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trainingProgram.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.workingDay.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trainingProgram.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.workingDay.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdData }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdData }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdData })
        </td>
    </tr>
}

</table>
